@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
  
  /* .Top{
  
    position: absolute;
  } */

  .top > img{
      height: 100px;
  }

  .contents{
      margin-top: 10px;
      padding: 0px 10px 0px 10px;
      display: flex;
      /* background-color: rgba(65, 62, 62, 0.226); */
      /* padding-left: 30px; */
      border-radius: 18px;
  }

  .first{
      padding: 10px;
      color: rgba(131, 127, 127, 0.986);
      margin: 10px;
      /* padding-left: 25px; */
      font-size: 6px;
      width: 30%;
      /* height: 70px; */
      /* overflow: hidden; */
      /* background-color: yellow; */
  }

  .first  h3{
      font-size: 17px;
      position: relative;
      top: 10px;
  }

  .first:hover{
      background-color: rgba(33, 110, 110, 0.295);
      border-radius: 19px;
      
  }
  
  .intro{
    position: absolute;
    display: flex;
    align-content: center;
    border-radius: 20px;
    padding: 6px;
    text-shadow: 0px 2px 9px 0px rgba(17, 75, 151, 0.651);

      top:20px;
  left: 10px;
  }


 h1{
    padding-left: 7px;
    font-family: "Montserrat Alternates", sans-serif;

    position: relative;
    top: 5px;
  }

  p{
      color:rgb(230, 233, 70);
    font-family: 'Cormorant Garamond', serif;
  }
    .heading{
      position: absolute;
      top:110px;
      line-height: 20px;
  left: 0;
  margin: 10px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(27, 27, 27, 0.342); */
  border-radius: 20px;
  width: 95%;
  overflow: hidden;
  padding: 10px;
    }
  
    .heading h2 , p{
      padding: 15px;
      color: #b9b5bb;
  
    }


    a{
        text-decoration: none;
    }

    a:hover{
        text-decoration: none;
    }
    .heading  h1{
      color: rgb(22, 241, 2);
      font-size: 3rem;
      /* background-color: rgba(0, 0, 0, 0.452); */
      /* width: 150px; */
      /* visibility:hidden; */
      padding: 10px;
      border-radius: 10px;
  
      
    } 

    #title{
        position: absolute;
        top: 0px;
        right: 10px;
        height: 70px;

    }

    .slogen{
        background-color: rgba(54, 53, 53, 0.61);
        /* background: url(""); */
        padding: 10px;
        box-shadow: 0px 4px 12px rgba(0, 153, 255, 0.329);
        border-radius: 0px 0px 17px 17px;
        display: flex;
    }
    #spin{
      /* position: relative;
      left: 10px; */
      height: 140px;
    
       
        -webkit-animation: spin 20s linear infinite;
        animation: spin 20s linear infinite;
        /* visibility:hidden; */
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
          
  .slogen_child{
      color: chartreuse;
      position: relative;
      width: 200px;
      top: 40px;
      padding-left: 40px;
      font-size: 17px;
      font-family: "Montserrat Alternates", sans-serif;


  }
    
  .sidebar__search{
    display: flex;
    align-items: center;
    /* background-color: #bdc2bd; */
    height: 39px;
    width: 100%;
    padding: 10px;
  }
  
  .sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 90%;
    /* margin-right: 30px; */
    height: 35px;
    border-radius: 20px;
  }
  #nw{
 filter: drop-shadow(5px 5px 5px rgba(7, 10, 179, 0.377));
position: relative;
left: -20px;
top: 20px;
      height: 220px;
  }


  #search{
   filter: drop-shadow(5px 5px 5px rgba(7, 39, 179, 0.342));

      height: 220px;
  }
  .sidebar__searchContainer:hover{
    box-shadow: 0px 3px 6px 0px rgba(114, 112, 112, 0.514);
  }
  
  .sidebar__searchContainer > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 42px !important;
    padding: 10px;
    color: rgb(128, 128, 128);
  }
  
  .sidebar__searchContainer > input {
    border: none;
    outline-width: 0;
    margin-left: 10px;
    font-size: 20px;
    width: 86%;
  }
  
  
  .lower_body{
    position: relative;
    top: 450px;
  /* height: 1000px; */
  overflow: hidden;
  
    padding: 10px;
    /* border: 1px solid rgb(141, 138, 138); */
    border-radius: 10px;
    margin: 6px;
  }

  .lower_body h1{
  }

  .block img{
      display: flex;
      height: 250px;
      width: auto;
      
  }

  .img{
      height: 190px;
      overflow: hidden;
      border-radius: 10px;

  }



  .block{
      border-radius: 8px;
      background-color: #2a2f3669;
      margin-top: 50px;
      padding: 10px;
      cursor: pointer;

      overflow: hidden;
      /* border: 1px solid chartreuse; */
      
      height: 300px;
      margin: 15px;
  }

  .block:hover{
      position: relative;
      box-shadow: 0px 4px 8px 0px rgba(8, 8, 8, 0.719);
      top: -4px;
  }

  .lower_body h1{
    font-family: "Montserrat Alternates", sans-serif;
    color: darkgreen;
    font-weight: bolder;
}

button{
    background: none;
    border: none;
    outline-width: 0px;


}


.items{
    position: relative;
    margin-top: 0px;
    top: -0px;
    font-size: 30px;
    color: green;
}
#news_block{
    position: relative;
    top: -50px;
}

#news_img{
    /* height: 300px; */
}
#news_img1{
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 250px;
}
.items >h6{
padding: 20px;
color: rgb(173, 166, 166);
    font-size: 23px;
    border-radius: 10px;
    font-family: "Montserrat Alternates", sans-serif;
    color: rgb(176, 199, 241);
    margin-top: 20px;
    border-top: 2px solid chartreuse;
    background-color: #16162560;
}

.items > h2{
    color: rgb(112, 112, 108);
    padding: 10px;
    
    /* background-color: rgba(25, 59, 90, 0.137); */
    /* border-radius: 20px; */
}

.items > h7{
    font-size: 23px;
    background-color: rgba(27, 27, 85, 0.158);
    padding: 20px;
    color: rgb(173, 166, 166);
}

Button > h1{
    border-radius: 10px;
    /* background-color: rgba(153, 0, 255, 0.219); */
    font-size: 23px;
    border: 1px solid chartreuse;
 padding: 10px;
}

Button > h1:hover{
    color: rgb(13, 13, 14);
    background-color: rgba(114, 214, 8, 0.486);
}

h5{
    padding: 10px;
    color: gray;
    border-radius: 10px;
    background-color: rgba(87, 80, 80, 0.199);
}











.checkbox{
    height: 0;
    width: 0;
    
    visibility: hidden;
}

.switch{
    position: relative;
    display: flex;
    cursor: pointer;
    box-shadow:0px 2px 10px 0px  rgba(4, 8, 247, 0.363);

    width: 90px;
    height: 40px;
    border-radius: 200px;
    background-color: rgb(15, 15, 15);

    /* background-color: rgb(196, 192, 192); */
    transition: background-color 0.2s ;
}

.circle{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    box-shadow: 0px 4px 20px 0px rgba(17, 17, 107, 0.603);

    border-radius: 90px;
    background:rgb(41, 38, 38);
    transition: 0.2s;
}

.checkbox:checked + .switch .circle{
    box-shadow: 0px 4px 20px 0px rgba(9, 255, 0, 0.534);



    background-color: rgb(95, 92, 92);
    left: calc(100% - 5px);
    transform: translateX(-100%);
}


.checkbox:checked + .switch{
    box-shadow: 0px 2px 10px 0px rgba(0, 255, 64, 0.349);

    background: rgb(122, 119, 119);   
}


#White{
    position: relative;
    top: 7px;
    font-size: 20px;

    left: 7px;

}
#black{
    font-size: 20px;
    position: relative;
    top: 7px;
    left: 25px;
}

.politics{
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}




.Search_area{
    overflow: hidden;
    /* background-color: rgba(23, 53, 43, 0.26); */
    border-radius: 20px;
    display: flex;
    /* border: 1px solid rgba(221, 64, 16, 0.575); */
    margin: 10px;
    /* padding: 10px; */
    width: 94%;
    padding-bottom: 30px;
    justify-content: center;
}


#h1{
    padding-left: 7px;
    font-family: "Montserrat Alternates", sans-serif;
color: rgb(255, 174, 0);
    position: relative;
    top: 5px;
  }


  #dev{
    display: flex;
  
      justify-content: center;
      height: 40px;
  }











  .result{
      padding: 10px;
  }

  #footerdp{
    height: 100px;
   
    border-radius: 50%;
    /* padding: 10%;
    border-radius: 20%; */
  }

  .profile{
      margin-top: 30px;
      padding: 15px;
      background-color: #0d1117;
      /* height: 100px; */
      /* width: 100%; */
      overflow: hidden;
  }
  
  s{
    color: yellow;
    text-decoration: none;
  }
  
  
  footer{
    margin: 0px;
    background-color: red;
  }
  .info{
      /* position: relative; */

  }

  .

 

  

  button{
    background: none;
    border: none;
    font-size: 16px;
    outline-width: 0px;
}


h5{
    color: teal;
    padding: 10px;
}

.contact{
    position: relative;
    top: 100px;
    color: rgb(206, 201, 201);
padding: 10px;
/* border-top: 3px solid ; */
margin-top: 30px;
}


.form{
margin-top: 20px;
padding: 20px;
border-radius: 10px;
/* background-color: rgba(243, 46, 243, 0.219); */
background-color:rgba(45, 40, 53, 0.247) ;
}


h6{
font-size: 20px;
color: rgba(255, 255, 255, 0.966);
padding: 3px;
}

form > input , textarea{
color: rgb(247, 245, 245);
padding: 7px;
font-size: 18px;
display: flex;
align-items: center;



background-color: rgba(63, 65, 64, 0.151);
width: 80%;
/* height: 35px; */
border-radius: 7px;
border: none;
outline-width: 0;
}
#send{
margin-top: 30px;
width: 30%;
border: none;
outline-width: 0;
border-radius: 10px;
padding: 8px;
color: rgb(12, 210, 236);
font-size: 1.1rem;
box-shadow: 0px 5px 34px 0px rgba(11, 133, 47, 0.247);
background-color: rgba(25, 94, 65, 0.644);
}

#send:hover{
background-color: rgb(75, 70, 70);
}


.msg{
background-color: rgba(228, 109, 109, 0.39);
padding: 20px;
margin: 20px;
font-family: 'Montserrat Alternates', sans-serif;
font-size: 20px;
font-weight: bold;
border-radius: 10px;
border: 1px solid chartreuse;
}

.msg > h2 {
font-weight: bold;
color: rgb(235, 238, 235);

}


.profile_intro{
    display: flex;

}

.info{
    position: relative;
    top: -18px;
    margin-left: 30px;
    padding: 10px;
}

.info > h1{
    padding-left: 0px;
   font-family: "Montserrat Alternates", sans-serif ;
}
.info > h3{
    font-family: "Montserrat Alternates", sans-serif;
color: white;
/* font-weight: bold; */
}

.slider{
    /* font-weight: bolder; */
    font-size: 20px;
    color: rgb(209, 203, 207);
    font-family: "Montserrat Alternates", sans-serif;

}

.slider a {
    text-decoration: none;
    color: rgb(224, 6, 6);
    font-size: 20px;
}

h2{
    color: red;
}

#tex{
    color: red;
}

.wrap{
    /* padding-left: 10px; */
    font-size: 20px;
    color: rgba(9, 255, 0, 0.795);
}


















body {
    margin:0;
    padding:0;
    background: #dedede;
  }
  
  ol {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
  }
  
  ol li {
    list-style: none;
  }
  ol li a {
    position: relative;
    width:50px;
    height:50px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    /* padding: 6px; */
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(221, 221, 221), #fff);
    transition: .5s;
    color: gray;
  }
  
  ol li a:hover {
      color: gray;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  /* ol li a  {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  } */
  
  ol li:nth-child(1) a {
    color: #3b5998;
  }
  
  ol li:nth-child(2) a{
    color: #ed0000;
  }
  
  ol li:nth-child(3) a{
    color: #dd4b39;
  }
  
 
  
  ol li:nth-child(4) a {
    color: #e4405f;
  }


  .social{
      position: relative;
      top: 90px;
  }

.social   h1{
position: relative;
font-family: "Montserrat Alternates", sans-serif;

top: -90px;

}





  a > .MuiSvgIcon-root {
    /* margin-right: 2vw; */
    font-size: 50px !important;
    padding: 10px;
    /* color: rgb(128, 128, 128); */
  }


  .Sub{
      padding: 10px;
      margin: 10px;
  }



  #love{
      position: relative;
      top: 140px;
      left: -30px;
      height: 40px;
  }

  .copy{
      position: relative;
      display: flex;
      justify-content: center;
      top: 40px;

      font-size: 20px;
      color: rgb(155, 146, 146);
  }

  .copy  a{
    font-family: "Montserrat Alternates", sans-serif;

      color: white;
  }























.loader {
    /* padding: 60px; */
    width: 10em;
    height: 10em;
    font-size: 10px;
position: fixed;
top: 40%;
visibility: hidden;
left: 40%;
/* background-color: rgba(36, 34, 34, 0.445); */
display: flex;
    align-items: center;
    justify-content: center;
}
.loader h1{
    background-color: rgb(26, 23, 23);
    position: relative;
    top: 90px;


}

.gradient-text {
        background-image: linear-gradient(45deg, #7cf378, #e60948);
        background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: gold;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: lime;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}

.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}



.Top_container{
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
}



@media(min-width:600px){
  .news-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .block{
  width: 400px;
 }
 
}